.blog {
    display: flex;
    flex-direction: column;

    @include themify($themes) {
        background: themed('section2BackgroundColor');
    }

    &-pinned {
        padding: 1rem;
    }

    &-generic {
        padding: 0.5rem;
        margin: 10px;
    }
}