.blog-item {
    display: flex;
    flex-direction: row;
    max-width: 680px;
    border-bottom: 1px solid #c2c1c1;
    margin: 20px 0;
    padding: 20px 0;

    :hover {
        cursor: pointer;
    }

    .blog-description {
        flex: 1 1 auto;
    }

    .blog-item-image {
        width: 112px;
        height: 112px;
        aspect-ratio: auto 112 / 112;
        overflow: clip;
        overflow-clip-margin: content-box;
        object-fit: cover;
        margin-left: 60px;
    }
}