$tags: primary, secondary, warning;

@mixin button-style($tag) {
    @if $tag =='primary' {
        background-color: white;
        border: 2px solid #d6ddff;

    }

    @else if $tag =='secondary' {
        border: 2px solid #bfbfbf;
    }

    @else if $tag =='warning' {
        border: none;
    }
}

@each $tag in $tags {
    .shadow-button-#{$tag} {
        border-radius: inherit;
        display: inline-block;
        padding: 10px;
        font-size: 16px;
        font-weight: 500;
        @include button-style($tag);
    }
}

.shadow-button-wrapper {
    margin-top: 10px;

}


.normal-button {
    padding: 10px;
    border: none;
    border-radius: 2px;
    display: inline-block;
    width: max-content;
    margin-top: 20px;
    padding: 10px 20px;
    // background-color: #3498db;
    // color: white;
    text-decoration: none;


    &-primary {
        @include themify($themes) {
            background: themed('buttonBackground');
            color: themed('buttonText')
        }
    }

    &-secondary {
        @include themify($themes) {
            background: themed('secondaryButtonBackground');
            color: themed('secondaryButtonText')
        }
    }

    transition: background-color 0.3s ease;

    &:hover {
        background-color: darken(#3498db, 10%);
    }

}