.description {

    @include themify($themes) {
        color: themed('secondaryTextColor')
    }

    @include for-phone-only {
        font-size: 16px;
    }

    @include for-tablet-portrait-up {
        font-size: 16px;
    }
}