.heading-2 {
    font-size: 32px;

    @include themify($themes) {
        color: themed('textColor')
    }
}

.heading-3 {
    font-size: 24px;

    @include themify($themes) {
        color: themed('textColor')
    }
}

.heading-1 {
    font-size: 54px;
    font-weight: bold;
    margin: 0;

    @include themify($themes) {
        color: themed('textColor')
    }

    @include for-phone-only {
        font-size: 32px;
    }

    @include for-tablet-portrait-up {
        font-size: 48px;
    }

    &-centred {
        text-align: center;
        margin: 10px;
    }

    &-title {
        margin: 10px 0;
        font-size: 42px;
    }
}