.label {
    margin: 5px 0;

    &-primary {
        font-size: 20px;
        font-weight: 600;

        @include themify($themes) {
            color: themed('textColor')
        }
    }

    &-secondary {
        font-size: medium;
        font-weight: 400;

        @include themify($themes) {
            color: themed('secondaryTextColor')
        }
    }

    &-italic {
        font-style: italic;
    }
}