$tags: primary, secondary;

@mixin label($tag) {
    @if $tag =='primary' {
        font-size: 20px;
        font-weight: 600;

    }

    @else if $tag =='secondary' {
        font-size: medium;
        font-weight: 400;
    }
}

@each $tag in $tags {
    .label-#{$tag} {
        @include label($tag);
    }
}