.project-card {
    flex-basis: 25%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 360px;

    @include themify($themes) {
        background-color: themed('cardBackground');
        color: themed('textColor')
    }

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

    @include for-phone-only {
        min-width: 300px;
        justify-content: center;
    }

    @include for-tablet-portrait-up {
        min-width: 360px;
    }

    @include for-mid-desktop-up {
        min-width: 280px;
    }


    .project-overview-description {
        margin-top: 16px;

        @include for-tablet-landscape-up {
            font-size: 14px;
        }
    }

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-title {
        font-size: 1.5em;
        margin: auto;
        padding: 5px;
    }

    .project-description {
        font-size: 1em;
        margin-top: auto;
    }

    .project-link {
        margin: auto;
    }

    .normal-button-primary {
        margin: 0 auto;
    }
}

.project-card-image-placeholder {
    height: 220px;
    width: 380px;
    background-color: #c5c5c5;
}