.project-card {
    flex-basis: 25%;
    margin-bottom: 30px;

    @include themify($themes) {
        background-color: themed('cardBackground');
        color: themed('textColor')
    }

    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;

    .project-image {
        width: 100%;
        height: auto;
    }

    .project-title {
        font-size: 1.5em;
        margin-top: 15px;
    }

    .project-description {
        font-size: 1em;
        margin-top: 10px;
    }

    .project-link {}
}