.resume-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 0 15%;

    @include themify($themes) {
        background: themed('bodyBackgroundColor');
    }

    .resume-preview {
        display: inline-block;
        margin: auto auto;

        @include for-phone-only {
            display: none;
        }

    }

    .react-pdf__Page__canvas {
        margin: auto;
    }

    .resume-botton {
        margin: 10px auto;
    }

    @include for-phone-only {
        padding: 0;
    }

    @include for-tablet-portrait-up {
        padding: 0;
    }
}