.app-container {
    margin: 0 auto;
    width: 100%;
    height: inherit;
    flex-direction: column;
    align-content: center;

    @include themify($themes) {
        background-color: themed('bodyBackgroundColor');
    }
}