.header {
    padding: 30px 10%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;

    @include themify($themes) {
        background: themed('headerFooterBackground');
    }

    @include themify($themes) {
        color: themed('textColor');
    }

    @include for-desktop-up {
        padding: 30px 15%;
    }

    @include for-phone-only {
        padding: 15px 10px;
    }
}