.project-section {
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    padding-bottom: 120px;

    .project-image-section {
        margin-left: 60px;
    }

    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    &-s1 {
        position: relative;

        @include themify($themes) {
            background: themed('bodyBackgroundColor');
        }

        z-index: 2;
    }

    &-s2 {
        position: relative;

        @include themify($themes) {
            background: themed('section2BackgroundColor');
        }

        padding-top: 120px;
        margin-top: -90px;
        z-index: 1;
    }


    &-s3 {
        @include themify($themes) {
            background: themed('section3BackgroundColor');
        }
    }

    &-s4 {
        @include themify($themes) {
            background: themed('section4BackgroundColor');
        }
    }

}