.project-section {
    padding: 0 15%;
    display: flex;
    flex-direction: row;
    padding-top: 90px;
    padding-bottom: 120px;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);

    @include for-desktop-up {
        padding: 30px 15%;
    }

    @include for-tablet-landscape-up {
        padding: 0 10%;
        padding-bottom: 90px;
        padding-top: 30px;
    }


    @include for-tablet-portrait-up {
        padding: 30px 10%;
        flex-direction: column-reverse;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    @include for-phone-only {
        padding: 15px 10px;
        flex-direction: column-reverse;
        clip-path: polygon(0 0, 100% 0, 100% 95%, 0 100%);
    }

    .project-image-section {
        margin-left: 60px;

        @include for-tablet-portrait-up {
            flex-direction: column-reverse;
            margin: auto;
        }

        @include for-phone-only {
            width: 100%;
            margin: auto;
        }

        .project-image {
            width: 480px;
            height: auto;

            @include for-tablet-portrait-up {
                width: 360px;
            }

            @include for-tablet-landscape-up {
                width: 360px;
            }

            @include for-phone-only {
                width: 100%;
            }
        }
    }



    &-s1 {
        position: relative;

        @include themify($themes) {
            background: themed('bodyBackgroundColor');
        }

        z-index: 4;

    }

    &-s2 {
        position: relative;

        @include themify($themes) {
            background: themed('section2BackgroundColor');
        }

        flex-direction: row-reverse;
        padding-top: 120px;
        margin-top: -90px;
        z-index: 3;

        .project-image-section {
            margin-left: 0;
            margin-right: 60px;
        }
    }


    &-s3 {
        @include themify($themes) {
            background: themed('section3BackgroundColor');
        }

        position: relative;
        padding-top: 120px;
        margin-top: -90px;
        z-index: 2;
    }

    &-s4 {
        @include themify($themes) {
            background: themed('section4BackgroundColor');
        }

        .project-image-section {
            margin-left: 0;
            margin-right: 60px;
        }

        flex-direction: row-reverse;
        position: relative;
        padding-top: 120px;
        margin-top: -90px;
        z-index: 1;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

}