.projects-overview {
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
    margin-top: -15%;
    padding: 90px 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include themify($themes) {
        background: themed('section2BackgroundColor');
    }


    @include for-phone-only {
        clip-path: polygon(0 5%, 100% 0, 100% 100%, 0 100%);
        flex-direction: column;
    }


    h2 {
        padding: 20px;
    }

    @include for-desktop-up {
        padding: 90px 15%;
    }

    @include for-tablet-portrait-up {
        // font-size: 48px;
    }

    .projects-showcase {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        @include for-phone-only {
            flex-direction: column;
        }

        .more-projects {
            width: 100%;
            text-align: right;
            text-decoration: none;

            a {
                font-size: 1.2em;
                text-decoration: none;
                color: #3498db;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }


}