$themes: (
    light: (bodyBackgroundColor: #eaeaea,
        headerFooterBackground: #f1f1f1,
        textColor: #000,
        toggleBackground: #dfe4ea,
    ),
    dark: (bodyBackgroundColor: #222736,
        headerFooterBackground: #36394c,
        textColor: #eff2f7,
        toggleBackground: #606071,
    ),
);