$themes: (
    light: (bodyBackgroundColor: #FAFAFA,
        headerFooterBackground: #FAFAFA,
        textColor: #202020,
        secondaryTextColor: #555555,
        toggleBackground: #dfe4ea,
        buttonBackground: #3859e0,
        buttonText: #FFFFFF,
        accent: #3859e0,
        secondaryButtonBackground: #DDDDDD,
        secondaryButtonText: #202020,

        // section 2
        section2BackgroundColor: #F5F5F5,
        //section 3
        section3BackgroundColor: #EEEEEE,
        //section 4
        section4BackgroundColor: #E0E0E0,
        // card such as project card
        cardBackground: #f3f3f3),

    dark: (bodyBackgroundColor: #202020,
        headerFooterBackground: #202020,
        textColor: #FAFAFA,
        secondaryTextColor: #c0c0c0,
        toggleBackground: #606071,
        buttonBackground: #3859e0,
        buttonText: #FAFAFA,
        accent: #8C9EFF,
        secondaryButtonBackground: #4D4D4D,
        secondaryButtonText: #FAFAFA,
        // section 2
        section2BackgroundColor: #282828,
        //section 3
        section3BackgroundColor: #333333,
        //section 4
        section4BackgroundColor: #3D3D3D, // card such as project card
        cardBackground: #323232,
    ),


);